<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>never work overtime</title>
<!--框架 Start-->
<script src="../static/framework/jquery/jquery-3.5.1.js"></script>
<script src="../static/framework/jquery/jquery.cookie.js"></script>
<script src="../static/framework/vue/vue.js"></script>
<script src="../static/framework/element-ui-2.13.2/lib/index.js"></script>
<script src="../static/framework/sortable/Sortable.min.js"></script>
<script src="../static/framework/layui/layui.js"></script>
<script src="../static/framework/clipboard.js/clipboard.js"></script>
<link rel="stylesheet" href="../static/framework/csshake/csshake.css">
<link rel="stylesheet" href="../static/framework/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="../static/framework/element-ui-2.13.2/lib/theme-chalk/index.css">
<link rel="stylesheet" href="../static/framework/layui/css/layui.css">
<!--框架 End-->
<!--custom css/js Start-->
<link rel="stylesheet" href="../static/css/main-business.css">
<script src="../static/js/event-business.js"></script>
<script src="../static/js/animate-business.js"></script>
<script src="../static/js/functionsGlobal.js"></script>
<!--custom css/js End-->
</head>
<body>
<!--页首分割线-->
<div id="business-divider-top">
    <el-divider content-position="center">
        <i class="fa fa-clone" aria-hidden="true"></i>
    </el-divider>
</div>
<!--抽屉层组件-->
<div id="vue-main-drawer">
    <div class="menu-style">
        <el-button @click="drawer = true" style="margin-left: 16px;" type="primary" plain :icon="icon">MENU</el-button>
    </div>
    <!--抽屉里面的内容必须放在标签内-->
    <el-drawer :visible.sync="drawer" :direction="direction" :withHeader="false" :size="size" :show-close="false">
        <div v-if="myObjects.systemMessage.showLoadingDataBase">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark" :class="{textAlign:true}">
                        <i class="fa fa-spinner fa-spin fa-3x"><!--通过font-awesome图标来表示加载状态--></i>&nbsp;Loading....
                    </div>
                </el-col>
            </el-row>
        </div>
        <div v-if="myObjects.systemMessage.showSystemStatus">
            <div class="text-align">
                <div class="backToIndex-2" style="text-align: center !important;">
                    <el-avatar :size="100" class="shake shake-hard" :src="myObjects.imgSrc"><!--头像--></el-avatar>
                </div>
            </div>
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark" :class="{textAlign:true}">
                        当前系统状态：{{myObjects.systemMessage.status}}
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark" :class="{textAlign:true}">
                        最后测试时间：{{myObjects.systemMessage.time}}
                    </div>
                </el-col>
            </el-row>
        </div>
    </el-drawer>
</div>
<!--步骤层组件-->
<div id="business-steps">
    <el-steps :active="curActive" align-center>
        <el-step title="步骤1" description="选择数据"></el-step>
        <el-step title="步骤2" description="选择字段"></el-step>
        <el-step title="步骤3" description="预览"></el-step>
        <el-step title="步骤4" description="功能"></el-step>
    </el-steps>
</div>
<!--在tabs标签页之前的alert提醒区，利用的是跑马灯组件Carousel-->
<div id="CarouselWithAlert" :class="{textAlign:true}" v-if="showCarouselWithAlert">
    <div style="width: 50%;display: inline-block">
        <el-carousel height="50px" direction="vertical" :autoplay="true" :interval="intervalTime">
            <el-carousel-item v-for="(Myitem,Myiniex) in helpMessages" :key="Myiniex" :class="{textLeft:true}">
                <el-alert :title="Myitem.title" :type="Myitem.type" :description="Myitem.description" show-icon></el-alert>
            </el-carousel-item>
        </el-carousel>
    </div>
</div>
<!--标签页tabs是主要的信息展示区，其下包含了大量的组件-->
<div id="business-tabs">
    <el-tabs v-model="activeName" @tab-click="handleClick" tab-position="left">
        <el-tab-pane label="选择表格" name="first">
            <div class="tabContext">
                <p style="height: 6px;"><!--占位行--></p>
                <el-row>
                    <el-col :span="6" v-bind:class="{vueClassTabBaneCol:true}">
                        <div class="text-align">
                            <!--下拉列表组件：已加载表格XXX张-->
                            <el-dropdown split-button type="primary" @command="FFFFFFFFFFFFFFFF" @click="FFFFFFFFFFFFFFFFLoad">
                                {{myObjects.FFFFFFFFFFFFFFFFObj.msg}}
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item command="0">1-数据库实时加载</el-dropdown-item>
                                    <el-dropdown-item command="1">2-LocalStorage加载</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                        <p style="height: 15px"></p>
                        <div class="textAlign">
                            <div class="selectSummit">
                                <el-button type="success" plain @click="selectSummit"><i class="fa fa-check-square" aria-hidden="false"></i>&nbsp;使用所选</el-button>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="10">
                        <!--【select组件】-->
                        <el-select v-model="selectArray" filterable clearable multiple placeholder="请选择表格....." :style="{width:'80%',border:'#2f34ff 2px solid',borderRadius:'4px'}" @focus="messageForSelect">
                            <el-option v-for="(item,index) in selectDataTableNames" :key="index" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="8">
                        <!--预览区-->
                        <p style="position: relative;right: -37px;font-family: Helvetica Neue;font-weight: bold; color: #13a8a8;">
                            已选择&nbsp;{{selectArray.length}}&nbsp;张表格
                        </p>
                        <ul v-for="(itemObj,index) in selectArray" style="text-align: left">
                            <li style="font-family: Helvetica Neue;font-weight: bold; color: #13a8a8;">
                                <i class="fa fa-1x fa-check-square"></i>&nbsp;&nbsp;{{selectArray[index]}}
                            </li>
                        </ul>
                    </el-col>
                </el-row>
            </div>
        </el-tab-pane>
        <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
        <el-tab-pane label="选择字段" name="second">
            <div class="tabContext">
                <el-row>
                    <el-col :span="24" v-bind:style="{height:'10px'}"><!--占位行而已--></el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <!--一个对表格数据信息做展示的dashboard面板-->
                        <div :class="{TableDashboard:true}">
                            <el-card class="box-card" shadow="hover">
                                <div slot="header" class="clearfix">
                                    <span>DashBoard字段</span>
                                    <el-tooltip class="item" effect="dark" content="根据选定的表格从数据库加载" placement="top">
                                        <el-button @click="loadTableFields" :class="{locationCs:true}">
                                            <span>加载</span>
                                        </el-button>
                                    </el-tooltip>
                                </div>
                                <p class="item">已选表格:&nbsp;{{selectArray.length}}&nbsp;张</p>
                                <p class="item">字段数:&nbsp;{{newData.length}}&nbsp;个</p>
                            </el-card>
                        </div>
                        <!--功能按钮区-->
                        <div :class="{functionBtnsForTables:true}">
                            <div>
                                <!--选择前几个字段作为处理的根据-->
                                <span>使用前</span>
                                <el-input-number size="mini" v-model="InputNumberParams.fewNum" :precision="0" :step="1" :min="0" :max="newData.length" id="locationInputNumber"></el-input-number>
                                <span>个字段</span>&nbsp;<span style="font-weight: bold" @click="maxedInputNumberParams">(MAX)</span>
                            </div>
                            <div>
                                <p>
                                    <el-button-group>
                                        <!--<el-button size="mini" type="primary" icon="el-icon-arrow-left" :disabled="myObjects.dealBusiness.getColNames.doing"-->
                                        <el-button size="mini" type="primary" icon="el-icon-arrow-left" :disabled="myObjects.dealBusiness.getColNames.doing"
                                                   @click="dealBusinessFunction(myObjects.dealBusiness.getColNames)">获取/重新获取
                                        </el-button>
                                        <el-button @click="showAllReturnData(99)" size="mini" type="success" icon="el-icon-water-cup" class="ajaxGetColNames"
                                                   :disabled="!myObjects.dealBusiness.getColNames.done">ALLDATA
                                        </el-button>
                                    </el-button-group>
                                    <el-progress :percentage="myObjects.dealBusiness.getColNames.percentage" color="#409eff"></el-progress>
                                </p>
                            </div>
                            <div>
                                <el-button-group>
                                    <el-button size="mini" type="success" icon="el-icon-arrow-left" @click="showAllReturnData(1)">查看</el-button>
                                    <el-button size="mini" type="success" icon="fa-eercast fa">CloNames</el-button>
                                    <el-button size="mini" type="success" class="clipboardBtn clipboardBtnColNames" :data-clipboard-text="myObjects.dealBusiness.getColNames.data.ColNames">剪切板 <i
                                            class="el-icon-arrow-right"></i></el-button>
                                    <script>
                                        $(function () {
                                            $(".clipboardBtnColNames").click(function () {
                                                myLayer('.clipboardBtnColNames', {message: '复制成功', tips: 2});
                                            });
                                        });
                                    </script>
                                </el-button-group>
                            </div>
                            <div>
                                <el-button-group>
                                    <el-button size="mini" type="success" icon="el-icon-arrow-left" @click="showAllReturnData(2)">查看</el-button>
                                    <el-button size="mini" type="success" icon="fa-eercast fa">colModel</el-button>
                                    <el-button size="mini" type="success" class="clipboardBtn" @click="showAllReturnData(2)">剪切板 <i
                                            class="el-icon-arrow-right"></i></el-button>
                                </el-button-group>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="18">
                        <div class="tableDocker TableDashboard">
                            <el-table :data="newData" style="width: 100%" :row-class-name="tableRowClassName" stripe>
                                <el-table-column type="index" label="sort" width="50"></el-table-column>
                                <el-table-column prop="TABLE_NAME" label="表名" width="180"></el-table-column>
                                <el-table-column prop="COLUMN_COMMENT" label="字段描述" width="140">
                                    <template slot-scope="scope">
                                        <el-popover trigger="hover" placement="top">
                                            <!--p标签内容是tag的内容-->
                                            <p>字段描述: {{ scope.row.COLUMN_COMMENT }}</p>
                                            <p>字段类型: {{ scope.row.COLUMN_TYPE }}</p>
                                            <p>表名: {{ scope.row.TABLE_NAME }}</p>
                                            <p>字段名: {{ scope.row.COLUMN_NAME }}</p>
                                            <!--slot内容是表格内内容-->
                                            <div slot="reference" class="name-wrapper">
                                                <el-tag size="medium">{{ scope.row.COLUMN_COMMENT }}</el-tag>
                                            </div>
                                        </el-popover>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="COLUMN_NAME" label="字段名" width="180"></el-table-column>
                                <el-table-column prop="_" label="最终字段" width="200">
                                    <!--↑↑列的内容不载是值，而是套了一个输入框，输入框的值和tableData的属性FINAL_COLUMN_NAME绑定-->
                                    <template slot="header" slot-scope="scope">
                                        <div class="top">
                                            <el-tooltip class="item" effect="dark" content="请注意！考虑到有时候数据库的字段并非我们想要的字段，此列的值是最终期望值" placement="top-start">
                                                <span>最终使用字段(<i class="fa fa-exclamation" aria-hidden="true"></i>)</span>
                                            </el-tooltip>
                                        </div>
                                    </template>
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.FINAL_COLUMN_NAME"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="_operation_" label="操作" width="245">
                                    <template slot-scope="scope">
                                        <el-button size="mini" @click="addOneJson(scope.$index, scope.row,scope.column)">
                                            <el-tooltip content="你可以在此位置插入一条自定义的数据" placement="top">
                                                <!--对应<el-dialog></el-dialog>组件，写在其他地方了-->
                                                <span><i class="fa-plus fa fa-1x"></i></span>
                                            </el-tooltip>
                                        </el-button>
                                        <el-button size="mini" type="warning" @click="topOneJson(scope.$index, scope.row,scope.column)">
                                            <el-tooltip content="你可以将此位置的数据置顶" placement="top">
                                                <span><i class="fa-arrow-up fa"></i></span>
                                            </el-tooltip>
                                        </el-button>
                                        <el-button size="mini" type="danger" @click="deleteOneJson(scope.$index, scope.row,scope.column)">
                                            <el-tooltip content="删除" placement="top">
                                                <span><i class="fa fa-trash-o"></i></span>
                                            </el-tooltip>
                                        </el-button>
                                        <el-button size="mini" type="success" @click="currentFieldFunction(scope.$index, scope.row,scope.column)">
                                            <el-tooltip content="功能" placement="top">
                                                <span><i class="fa fa-paper-plane"></i></span>
                                            </el-tooltip>
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </el-tab-pane>
        <el-tab-pane label="业务代码获取" name="third">
            <div class="tabContext">内容3</div>
        </el-tab-pane>
        <el-tab-pane label="定时任务补偿" name="fourth">
            <div class="tabContext">内容4</div>
        </el-tab-pane>
    </el-tabs>
    <!---------------------------------------一个需要放在组件内部的隐藏对话框，在table组件的事件里面触发--------------------------------->
    <div MyDescription="需要放在组件内部的隐藏对话框，在table组件的事件里面触发">
        <el-dialog title="你可以在当前位置插入一行数据" :visible.sync="TableDialog.dialogFormVisible">
            <el-form ref="form" :model="TableDialog.form" label-width="80px">
                <el-form-item label="表名" size="mini">
                    <el-input v-model="TableDialog.form.TABLE_NAME"></el-input>
                </el-form-item>
                <el-form-item label="字段描述" size="mini" required>
                    <el-input v-model="TableDialog.form.COLUMN_COMMENT"></el-input>
                </el-form-item>
                <el-form-item label="字段名" size="mini" required>
                    <el-input v-model="TableDialog.form.COLUMN_NAME"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="InsertTableParam">确 定</el-button>
                <el-button @click="TableDialog.dialogFormVisible = false">取 消</el-button>
            </div>
        </el-dialog>
    </div>
    <!---------------------------------------一个需要放在组件内部的隐藏对话框，在table组件的事件里面触发--------------------------------->
    <div>
        <el-dialog title="数据展示" :visible.sync="myObjects.dealBusiness.getColNames.dialogShow">
            <textarea id="colNameVal" class="colNameValClass" v-model="myObjects.dealBusiness.getColNames.whatToShow_2">
            </textarea>
            <div slot="footer" class="dialog-footer">
                <el-button @click="myObjects.dealBusiness.getColNames.dialogShow = false">取 消</el-button>
                <el-button class="clipboardBtn" type="primary" @click="myObjects.dealBusiness.getColNames.dialogShow = false" data-clipboard-target="#colNameVal">
                    复制至剪切板
                </el-button>
            </div>
        </el-dialog>
    </div>
    <!---------------------------------------一个需要放在组件内部的隐藏对话框，在table组件的事件里面触发--------------------------------->
    <div data-description="这个一个表格功能按钮的dialog对话框目的是放更多的按钮" id="currentFieldFunctionZone">
        <el-dialog
                :title="currentFieldFunctionZone.title"
                :visible.sync="currentFieldFunctionZone.centerDialogVisible"
                width="60%"
                center
                :class="{moreFunctionBtnC:true}"
        >
            <!--内容区-->
            <div>
                基础Layout布局参数：
                <el-input-number size="mini" v-model="currentFieldFunctionZone.width_1"></el-input-number>
                <el-input-number size="mini" v-model="currentFieldFunctionZone.width_2"></el-input-number>
                <el-input-number size="mini" v-model="currentFieldFunctionZone.width_3"></el-input-number>
            </div>
            <div :class="{moreFunctionBtnC:true}">
                <el-input size="mini" placeholder="请输入内容" v-model="currentFieldFunctionZone.row.COLUMN_COMMENT" :class="{inlinkblockInput:true}">
                    <template slot="prepend">如需自定义</template>
                </el-input>
            </div>
            <div :class="{moreFunctionBtnC:true}">
                <div>
                    <el-button-group>
                        <el-button size="mini" plain icon="el-icon-full-screen" @click="moreFunction('input')">输入框input</el-button>
                        <el-button size="mini" plain icon="fa-tv fa" @click="currentFieldFunctionZone.innerVisible=true"></el-button>
                    </el-button-group>
                </div>
                <div>
                    <el-button-group>
                        <el-button size="mini" plain icon="el-icon-full-screen" @click="moreFunction('preloadingInput')">预载式输入框input</el-button>
                        <el-button size="mini" plain icon="fa-tv fa" @click="currentFieldFunctionZone.innerVisible=true"></el-button>
                    </el-button-group>
                </div>
                <div>
                    <el-button-group>
                        <el-button size="mini" icon="el-icon-full-screen" @click="moreFunction('timeWithEnd')">需求月份起止</el-button>
                        <el-button size="mini" icon="fa-tv fa" @click="currentFieldFunctionZone.innerVisible=true"></el-button>
                    </el-button-group>
                </div>
                <div>
                    <el-button-group>
                        <el-button size="mini" icon="el-icon-full-screen" @click="moreFunction('dropDownBox')">下拉框</el-button>
                        <el-button size="mini" icon="fa-tv fa" @click="currentFieldFunctionZone.innerVisible=true"></el-button>
                    </el-button-group>
                </div>
                <div>
                    <span><el-button size="mini" icon="fa-tv fa" @click="loadBscDictionaryInfoTree">加载字典表</el-button></span>
                    <span><el-cascader placeholder="试试搜索：状态" :options="currentFieldFunctionZone.bscDictionaryInfoTree" filterable size="mini"
                                       v-model="currentFieldFunctionZone.currentChooseDictionary"></el-cascader></span>
                    <el-button-group>
                        <el-button size="mini" icon="el-icon-full-screen" @click="moreFunction('dropDownBox')">下拉单选框（字典表）</el-button>
                        <el-button size="mini" icon="fa-tv fa" @click="currentFieldFunctionZone.innerVisible=true"></el-button>
                    </el-button-group>
                </div>
                <div>
                    <el-button-group>
                        <el-button size="mini" icon="el-icon-full-screen" @click="moreFunction('dropDownBox_other')">下拉单选框（非字典表）</el-button>
                        <el-button size="mini" icon="fa-tv fa" @click="currentFieldFunctionZone.innerVisible=true"></el-button>
                        <span>&nbsp;&nbsp;&nbsp;请手动输入data-otype的值</span>
                    </el-button-group>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="currentFieldFunctionZone.centerDialogVisible = false" size="mini">取 消</el-button>
                <el-button type="primary" @click="currentFieldFunctionZone.centerDialogVisible = false" size="mini">确 定</el-button>
            </span>
            <!--内层dialog属性append-to-body-->
            <el-dialog width="80%" title="context" :visible.sync="currentFieldFunctionZone.innerVisible" append-to-body>
                <textarea id="htmlCode" class="indialog" v-model="currentFieldFunctionZone.currentShowData"></textarea>
                <el-button class="clipboardBtn" type="warning" size="mini" data-clipboard-target="#htmlCode" @click="currentFieldFunctionZone.innerVisible=false">
                    复制至剪切板
                </el-button>
            </el-dialog>
        </el-dialog>
    </div>
    <!---------------------------------------一个需要放在组件内部的隐藏对话框，在table组件的事件里面触发--------------------------------->
</div>
<div id="notificationBusiness"><!--这是一个消息提示组件--></div>
<!--这是一个回到顶部组件-->
<div id="backToTop">
    <el-backtop :visibility-height="vhHeight"></el-backtop>
</div>
<div>
    <!--这是一个loading组件-->
</div>
<div id="texting"></div>
<div id="foot"></div>
</body>
<!-------------------------------------------------------------------------------------------------------------------------------->
<script type="text/template" id="">
</script>
<!-------------------------------------------------------------------------------------------------------------------------------->
<!--custom css/js Start 需要放在<script type="text/template"</script>的后面，因为要用它里面的代码-->
<script src="../static/component/vue-component-business.js"></script>
<script src="../static/js/vue-object-business.js"></script>
<!--custom css/js End-->
<!-------------------------------------------------------------------------------------------------------------------------------->
</html>